
ul,li{
   list-style: none;
}
html,body,#app{
    height: 100%;
    position: relative;
}
body{
    font-size: 14px;
    background: #f2f2f2;
}

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
a{
    color: #333;
    text-decoration: none;
}