.newthings{
    
    .production-filter-bar{
        margin-top:.62rem;
        width:100%;
        height:.47rem;
        background: white;
        .listnav{
            display: flex;
            justify-content: space-around;
            width:100%;
            li{
                line-height:.47rem;
                
            }
            .active{
                color:red;
                text-decoration: none;
            }
        }
    }
    .godslist_box{
        width:100%;
        height:auto;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        .goodslist-bar{
            width:49%;
            height:2.53rem;
            padding:.12rem;  
            margin-top:.04rem;          
            box-sizing:border-box;            
            background: white;
            position: relative;
            img{
                width:100%;
                margin-top:.3rem;
            }
            .goods_title{              
                height:.42rem;
                width:100%;              
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin-top:.4rem;
                margin-bottom:.3rem;
            }
            .goodsprice{
                color:#e51c23;
                font-weight: bold;
                font-size:.16rem;
            }
            .goodsbuy{
                float:right;
                color:#c1ccdc;
                font-size:.13rem;
                margin-top:.03rem;
            }
            .isnew{
                position: absolute;
                top:.12rem;
                left:.12rem;
                color:#e51c23;
            }
        }
    }
    .loadingmore{
        text-align: center;
        margin-top:.06rem;
    }
    .bottom{
        text-align: center;
        margin-top:.06rem;
    }
}
.active{
    color:red;
}
