.goback{
    width:0.5rem;
    height:0.5rem;
    border-radius: 50%;
    position: fixed;
    bottom:0.8rem;
    right:0.1rem;
    border:1px solid #ccc;
    text-align: center;
    line-height: 0.5rem;
    background: #fff;
}