.index-page {
    overflow: hidden;
}
.header {
    width: 100%;
    height: 0.6rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    padding: 0 0.25rem 0 0.25rem;
    box-sizing: border-box;
    line-height: 0.6rem;
    background: #fff;
    // position: relative;  
    .header-nav {
         display: flex;
        justify-content: space-between;
        .header-left {
            a {
                color: #000;
                text-decoration: none;
                font-size: 0.16rem;

                .iconfont{
                    font-size: 0.16rem;
                    color: #000;
                }
            }
        }    
        .header-right {
            display: flex;
            justify-content: space-between;
            h4 {
                font-size: 0.20rem;
                line-height: 0.6rem;
                margin-right: 0.40rem;

                font-weight: normal;
                img {
                    height: 70%;
                }
            }
            .iconfont {
                display: inline-block;
                font-size: 0.25rem;
                color: #333333;
                text-decoration: none;
                margin-top: 0;
                &.gouwu {
                    margin-right:0.32rem;
                }
            }
        }
    }
    .header-tabs {
        position: fixed;
        right: 0;
        top: 0.7rem;
        border: 0.01rem solid #eee;
        width: 35%;
        padding: 0 0.15rem;
        background: #fff;
        a {
            display: block;
            width: 100%;
            line-height: 0.4rem;
            color: #555;
            span:first-child {
                margin-right: 0.05rem;
            }
        }
    }
    
}

.list-product {
    width: 100%;
    font-size: 0;
    .list {
        width: 100%;
        margin-top: 0.11rem;
        .list-top {
            height: 0.4rem;
            background: #fff;
            display: flex;
            justify-content: space-between;
            padding: 0 0.24rem;
            align-items: center;
            h5 {
                font-size: 0.18rem;
                color: #000;
                border-left: 0.05rem solid #FF0000;
                border-radius: 0.025rem;
                padding-left: 0.02rem;
            }
            a {
                font-size: 0.14rem;
                font-size: #BDBDBD;
            }
        }
        .banner {
            width: 100%;
            img {
                width: 100%;
            }
        }    
    }
   
    .product-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: #fff;      
        .product-left {
            width: 50%;
            text-align: center;
            padding: 0.6rem 0.15rem;
            box-sizing: border-box;
            @include right; 
            @include bottom;
            span {
                display: block;
                color: #D3C6C1;
                font-size: 14px;
                &:first-child {
                    color: #333;
                }
            }
            img {
                 width: 100%;
                margin-top: 0.35rem;
            }
        }
        .product-right {
            width: 50%;
            text-align: center;          
            display: flex;
            flex-direction: column;
            a {
                display: black;
                margin-top: 0.1rem;
                padding: 0.16rem 0.15rem;
               @include bottom;
                 span {
                    display: block;
                    color: #D3C6C1;
                     font-size: 14px;
                    &:first-child {
                        color: #333;
                    }
                }
                img {
                    width: 100%;
                
                }
            }
           
        }
    }

}



.lunbo{
    margin-top: 0.6rem;
    .swiper-slide{
        width:100%;
        img{
            width:100%
        }
    }
}
.nav{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height:2.53rem;
    background: white;
    .nav_box{
        width:25%;
        height:50%;
        display: flex;      
        flex-direction: column;
        align-items: center;
        img{
            width:54%;
            margin-top:0.25rem;
            margin-bottom: 0.12rem;
        }
        p{
            font-size:.14rem;
            color:#333
        }
    }
}
.adv{
    display: inline-block;
    width:100%;
    height:1.5rem;
    margin-top:.1rem;
    margin-bottom:.1rem;
    background: white;
    img{
        width:100%;
    }
}
.hotRecommend{
    width:100%;
    height:6.26rem;
    background: white;
    
    .hotRecommend_head{
        width:100%;
        height:.4rem;
        padding:.12rem .26rem 0 .24rem;
        .redbox{
            width:.06rem;
            height:.18rem;
            background:#ff0000;
            margin-right: .06rem;
            border-radius: 1rem;
            float:left;
        }
        .hotRecommend_head--title{
            float:left;
            font-size:.17rem;
        }
        .hotRecommend_head--more{
            float:right;
            color:#c7c7c7;
        }
    }
    .hotRecommend_adv{
        width:100%;
        height:1rem;
        img{
            width:100%;
        }
    }
    .hotRecommend_content{
        width:100%;
        height:auto;
        .hotRecommend_content--box{
            width:50%;
            height:1.62rem;
            text-align: center;
            float:left;      
            @include bottom;
            @include right;   
            p{
                margin-top:.16rem;
                margin-bottom:.09rem;   
                font-size:.14rem;
                color: #333;
                        
            }
            h2{
                font-size:.13rem;
                color:#c7c7c7;
                font-weight:normal;
            }
            img{
                width:1.55rem;
                margin-top:.30rem;
            }
        }
    }
    
}
